[data-theme='osiris'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(96.98% 0.01 161.12deg);
	--color-primary-100: oklch(87.72% 0.03 160.3deg);
	--color-primary-200: oklch(78.37% 0.06 158.27deg);
	--color-primary-300: oklch(69.09% 0.09 156.78deg);
	--color-primary-400: oklch(59.86% 0.11 154.34deg);
	--color-primary-500: oklch(51.02% 0.13 151deg);
	--color-primary-600: oklch(45.28% 0.11 150.99deg);
	--color-primary-700: oklch(39.37% 0.1 151.46deg);
	--color-primary-800: oklch(33.19% 0.08 151.7deg);
	--color-primary-900: oklch(26.77% 0.06 152.75deg);
	--color-primary-950: oklch(19.91% 0.04 153.67deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(95.91% 0.02 164.49deg);
	--color-secondary-100: oklch(85.43% 0.04 162.16deg);
	--color-secondary-200: oklch(74.78% 0.05 160.07deg);
	--color-secondary-300: oklch(64.11% 0.07 159.14deg);
	--color-secondary-400: oklch(53.05% 0.09 156.61deg);
	--color-secondary-500: oklch(41.96% 0.1 152.72deg);
	--color-secondary-600: oklch(37.19% 0.09 153.05deg);
	--color-secondary-700: oklch(32.29% 0.07 153.29deg);
	--color-secondary-800: oklch(27.51% 0.06 153.38deg);
	--color-secondary-900: oklch(22.21% 0.04 153.7deg);
	--color-secondary-950: oklch(16.51% 0.03 155.95deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(97.48% 0.02 84.56deg);
	--color-tertiary-100: oklch(91.19% 0.05 85.09deg);
	--color-tertiary-200: oklch(85.17% 0.08 85.97deg);
	--color-tertiary-300: oklch(79.17% 0.11 84.24deg);
	--color-tertiary-400: oklch(73.43% 0.13 82.52deg);
	--color-tertiary-500: oklch(67.72% 0.14 77.07deg);
	--color-tertiary-600: oklch(59.74% 0.12 77.08deg);
	--color-tertiary-700: oklch(51.48% 0.11 77.2deg);
	--color-tertiary-800: oklch(42.97% 0.09 79.31deg);
	--color-tertiary-900: oklch(33.9% 0.07 80.53deg);
	--color-tertiary-950: oklch(24.18% 0.05 83.04deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.38% 0.02 161.39deg);
	--color-success-100: oklch(89.8% 0.05 158.3deg);
	--color-success-200: oklch(82.67% 0.09 156.59deg);
	--color-success-300: oklch(75.47% 0.12 154.73deg);
	--color-success-400: oklch(68.97% 0.15 152.39deg);
	--color-success-500: oklch(62.7% 0.17 149.21deg);
	--color-success-600: oklch(55.27% 0.15 149.32deg);
	--color-success-700: oklch(47.57% 0.13 149.87deg);
	--color-success-800: oklch(39.86% 0.1 149.99deg);
	--color-success-900: oklch(31.44% 0.08 151.27deg);
	--color-success-950: oklch(22.42% 0.05 153.05deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.71% 0.02 94.48deg);
	--color-warning-100: oklch(91.75% 0.05 77.25deg);
	--color-warning-200: oklch(85.03% 0.09 74.2deg);
	--color-warning-300: oklch(78.44% 0.12 70.51deg);
	--color-warning-400: oklch(72.28% 0.14 66.39deg);
	--color-warning-500: oklch(66.54% 0.16 57.84deg);
	--color-warning-600: oklch(58.4% 0.14 58.78deg);
	--color-warning-700: oklch(50.29% 0.12 60.5deg);
	--color-warning-800: oklch(41.51% 0.09 62.84deg);
	--color-warning-900: oklch(32.61% 0.07 67.77deg);
	--color-warning-950: oklch(22.71% 0.05 78.62deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(97.11% 0.01 17.5deg);
	--color-error-100: oklch(87.49% 0.05 18.21deg);
	--color-error-200: oklch(78.27% 0.1 18.7deg);
	--color-error-300: oklch(69.65% 0.15 20.54deg);
	--color-error-400: oklch(62.61% 0.19 23.48deg);
	--color-error-500: oklch(57.72% 0.22 27.24deg);
	--color-error-600: oklch(50.5% 0.19 26.92deg);
	--color-error-700: oklch(43.3% 0.16 26.62deg);
	--color-error-800: oklch(35.53% 0.13 26.29deg);
	--color-error-900: oklch(27.71% 0.09 25.6deg);
	--color-error-950: oklch(19.24% 0.05 23.15deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(96.12% 0 none);
	--color-surface-100: oklch(94.91% 0 none);
	--color-surface-200: oklch(93.7% 0 none);
	--color-surface-300: oklch(92.49% 0 none);
	--color-surface-400: oklch(91.28% 0 none);
	--color-surface-500: oklch(90.06% 0 none);
	--color-surface-600: oklch(77.31% 0 none);
	--color-surface-700: oklch(64.01% 0 none);
	--color-surface-800: oklch(50.32% 0 none);
	--color-surface-900: oklch(35.23% 0 none);
	--color-surface-950: oklch(18.22% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
